.section {
    width: 80vw;
    padding: 25px;
}

.header {
    display: flex;
    border-bottom: 2px solid var(--line-color-1);
}

.title {
    color: var(--font-color-3);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.domain {
    margin-top: 8px;
}

.general-title {
    color: var(--font-color-3);
    font-size: 20px;
    border-bottom: 2px solid var(--line-color-1);
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;

}

td,
th {
    border: 1px solid var(--background-color-4);
    text-align: left;
    padding: 8px;
    white-space: wrap;
}

tr:nth-child(even) {
    background-color: var(--background-color-4);
}

.table-header {
    height: 40px;
    background-color: var(--line-color-1);
    color: var(--background-color-5);
}

.main-container {
    height: 100%;
    min-height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #a3aabc #0000;
    scrollbar-width: thin;
    max-height: calc(100vh - 155px);
    margin-top: 12px;
    padding-right: 28px;
    padding-bottom: 450px;
}

.table-entry {
    cursor: pointer;
    white-space: wrap;
}

.table-entry:hover {
    color: var(--font-color-3);
    text-decoration: underline;
}

.open-external-icon {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -16px;
    cursor: pointer;
}